:root {
  --hsl-base-color-gray-h: 0;
  --hsl-base-color-gray-s: 0%;
  --hsl-base-color-gray-l: 0%;
  --hsl-base-color-text-primary-h: 0;
  --hsl-base-color-text-primary-s: 0%;
  --hsl-base-color-text-primary-l: 80%;
  --hsl-base-color-brand-primary-h: 61;
  --hsl-base-color-brand-primary-s: 100%;
  --hsl-base-color-brand-primary-l: 71%;
  --hsl-base-color-ui-error-h: 346;
  --hsl-base-color-ui-error-s: 84%;
  --hsl-base-color-ui-error-l: 61%;
  --hsl-base-color-ui-accent-h: 0;
  --hsl-base-color-ui-accent-s: 0%;
  --hsl-base-color-ui-accent-l: 25%;
  --hsl-base-color-ui-bg-h: 0;
  --hsl-base-color-ui-bg-s: 0%;
  --hsl-base-color-ui-bg-l: 9%;
  --hsl-base-color-ui-success-h: 162;
  --hsl-base-color-ui-success-s: 46%;
  --hsl-base-color-ui-success-l: 65%;
  --color-gray-1: hsl(var(--hsl-base-color-gray-h), var(--hsl-base-color-gray-s), 1%);
  --color-gray-2: hsl(var(--hsl-base-color-gray-h), var(--hsl-base-color-gray-s), 2%);
  --color-gray-3: hsl(var(--hsl-base-color-gray-h), var(--hsl-base-color-gray-s), 3%);
  --color-gray-4: hsl(var(--hsl-base-color-gray-h), var(--hsl-base-color-gray-s), 4%);
  --color-gray-5: hsl(var(--hsl-base-color-gray-h), var(--hsl-base-color-gray-s), 5%);
  --color-gray-6: hsl(var(--hsl-base-color-gray-h), var(--hsl-base-color-gray-s), 6%);
  --color-gray-7: hsl(var(--hsl-base-color-gray-h), var(--hsl-base-color-gray-s), 7%);
  --color-gray-8: hsl(var(--hsl-base-color-gray-h), var(--hsl-base-color-gray-s), 8%);
  --color-gray-9: hsl(var(--hsl-base-color-gray-h), var(--hsl-base-color-gray-s), 9%);
  --color-gray-10: hsl(var(--hsl-base-color-gray-h), var(--hsl-base-color-gray-s), 10%);
  --color-gray-11: hsl(var(--hsl-base-color-gray-h), var(--hsl-base-color-gray-s), 11%);
  --color-gray-12: hsl(var(--hsl-base-color-gray-h), var(--hsl-base-color-gray-s), 12%);
  --color-gray-13: hsl(var(--hsl-base-color-gray-h), var(--hsl-base-color-gray-s), 13%);
  --color-gray-14: hsl(var(--hsl-base-color-gray-h), var(--hsl-base-color-gray-s), 14%);
  --color-gray-15: hsl(var(--hsl-base-color-gray-h), var(--hsl-base-color-gray-s), 15%);
  --color-gray-16: hsl(var(--hsl-base-color-gray-h), var(--hsl-base-color-gray-s), 16%);
  --color-gray-17: hsl(var(--hsl-base-color-gray-h), var(--hsl-base-color-gray-s), 17%);
  --color-gray-18: hsl(var(--hsl-base-color-gray-h), var(--hsl-base-color-gray-s), 18%);
  --color-gray-19: hsl(var(--hsl-base-color-gray-h), var(--hsl-base-color-gray-s), 19%);
  --color-gray-20: hsl(var(--hsl-base-color-gray-h), var(--hsl-base-color-gray-s), 20%);
  --color-gray-21: hsl(var(--hsl-base-color-gray-h), var(--hsl-base-color-gray-s), 21%);
  --color-gray-22: hsl(var(--hsl-base-color-gray-h), var(--hsl-base-color-gray-s), 22%);
  --color-gray-23: hsl(var(--hsl-base-color-gray-h), var(--hsl-base-color-gray-s), 23%);
  --color-gray-24: hsl(var(--hsl-base-color-gray-h), var(--hsl-base-color-gray-s), 24%);
  --color-gray-25: hsl(var(--hsl-base-color-gray-h), var(--hsl-base-color-gray-s), 25%);
  --color-gray-26: hsl(var(--hsl-base-color-gray-h), var(--hsl-base-color-gray-s), 26%);
  --color-gray-27: hsl(var(--hsl-base-color-gray-h), var(--hsl-base-color-gray-s), 27%);
  --color-gray-28: hsl(var(--hsl-base-color-gray-h), var(--hsl-base-color-gray-s), 28%);
  --color-gray-29: hsl(var(--hsl-base-color-gray-h), var(--hsl-base-color-gray-s), 29%);
  --color-gray-30: hsl(var(--hsl-base-color-gray-h), var(--hsl-base-color-gray-s), 30%);
  --color-gray-31: hsl(var(--hsl-base-color-gray-h), var(--hsl-base-color-gray-s), 31%);
  --color-gray-32: hsl(var(--hsl-base-color-gray-h), var(--hsl-base-color-gray-s), 32%);
  --color-gray-33: hsl(var(--hsl-base-color-gray-h), var(--hsl-base-color-gray-s), 33%);
  --color-gray-34: hsl(var(--hsl-base-color-gray-h), var(--hsl-base-color-gray-s), 34%);
  --color-gray-35: hsl(var(--hsl-base-color-gray-h), var(--hsl-base-color-gray-s), 35%);
  --color-gray-36: hsl(var(--hsl-base-color-gray-h), var(--hsl-base-color-gray-s), 36%);
  --color-gray-37: hsl(var(--hsl-base-color-gray-h), var(--hsl-base-color-gray-s), 37%);
  --color-gray-38: hsl(var(--hsl-base-color-gray-h), var(--hsl-base-color-gray-s), 38%);
  --color-gray-39: hsl(var(--hsl-base-color-gray-h), var(--hsl-base-color-gray-s), 39%);
  --color-gray-40: hsl(var(--hsl-base-color-gray-h), var(--hsl-base-color-gray-s), 40%);
  --color-gray-41: hsl(var(--hsl-base-color-gray-h), var(--hsl-base-color-gray-s), 41%);
  --color-gray-42: hsl(var(--hsl-base-color-gray-h), var(--hsl-base-color-gray-s), 42%);
  --color-gray-43: hsl(var(--hsl-base-color-gray-h), var(--hsl-base-color-gray-s), 43%);
  --color-gray-44: hsl(var(--hsl-base-color-gray-h), var(--hsl-base-color-gray-s), 44%);
  --color-gray-45: hsl(var(--hsl-base-color-gray-h), var(--hsl-base-color-gray-s), 45%);
  --color-gray-46: hsl(var(--hsl-base-color-gray-h), var(--hsl-base-color-gray-s), 46%);
  --color-gray-47: hsl(var(--hsl-base-color-gray-h), var(--hsl-base-color-gray-s), 47%);
  --color-gray-48: hsl(var(--hsl-base-color-gray-h), var(--hsl-base-color-gray-s), 48%);
  --color-gray-49: hsl(var(--hsl-base-color-gray-h), var(--hsl-base-color-gray-s), 49%);
  --color-gray-50: hsl(var(--hsl-base-color-gray-h), var(--hsl-base-color-gray-s), 50%);
  --color-gray-51: hsl(var(--hsl-base-color-gray-h), var(--hsl-base-color-gray-s), 51%);
  --color-gray-52: hsl(var(--hsl-base-color-gray-h), var(--hsl-base-color-gray-s), 52%);
  --color-gray-53: hsl(var(--hsl-base-color-gray-h), var(--hsl-base-color-gray-s), 53%);
  --color-gray-54: hsl(var(--hsl-base-color-gray-h), var(--hsl-base-color-gray-s), 54%);
  --color-gray-55: hsl(var(--hsl-base-color-gray-h), var(--hsl-base-color-gray-s), 55%);
  --color-gray-56: hsl(var(--hsl-base-color-gray-h), var(--hsl-base-color-gray-s), 56%);
  --color-gray-57: hsl(var(--hsl-base-color-gray-h), var(--hsl-base-color-gray-s), 57%);
  --color-gray-58: hsl(var(--hsl-base-color-gray-h), var(--hsl-base-color-gray-s), 58%);
  --color-gray-59: hsl(var(--hsl-base-color-gray-h), var(--hsl-base-color-gray-s), 59%);
  --color-gray-60: hsl(var(--hsl-base-color-gray-h), var(--hsl-base-color-gray-s), 60%);
  --color-gray-61: hsl(var(--hsl-base-color-gray-h), var(--hsl-base-color-gray-s), 61%);
  --color-gray-62: hsl(var(--hsl-base-color-gray-h), var(--hsl-base-color-gray-s), 62%);
  --color-gray-63: hsl(var(--hsl-base-color-gray-h), var(--hsl-base-color-gray-s), 63%);
  --color-gray-64: hsl(var(--hsl-base-color-gray-h), var(--hsl-base-color-gray-s), 64%);
  --color-gray-65: hsl(var(--hsl-base-color-gray-h), var(--hsl-base-color-gray-s), 65%);
  --color-gray-66: hsl(var(--hsl-base-color-gray-h), var(--hsl-base-color-gray-s), 66%);
  --color-gray-67: hsl(var(--hsl-base-color-gray-h), var(--hsl-base-color-gray-s), 67%);
  --color-gray-68: hsl(var(--hsl-base-color-gray-h), var(--hsl-base-color-gray-s), 68%);
  --color-gray-69: hsl(var(--hsl-base-color-gray-h), var(--hsl-base-color-gray-s), 69%);
  --color-gray-70: hsl(var(--hsl-base-color-gray-h), var(--hsl-base-color-gray-s), 70%);
  --color-gray-71: hsl(var(--hsl-base-color-gray-h), var(--hsl-base-color-gray-s), 71%);
  --color-gray-72: hsl(var(--hsl-base-color-gray-h), var(--hsl-base-color-gray-s), 72%);
  --color-gray-73: hsl(var(--hsl-base-color-gray-h), var(--hsl-base-color-gray-s), 73%);
  --color-gray-74: hsl(var(--hsl-base-color-gray-h), var(--hsl-base-color-gray-s), 74%);
  --color-gray-75: hsl(var(--hsl-base-color-gray-h), var(--hsl-base-color-gray-s), 75%);
  --color-gray-76: hsl(var(--hsl-base-color-gray-h), var(--hsl-base-color-gray-s), 76%);
  --color-gray-77: hsl(var(--hsl-base-color-gray-h), var(--hsl-base-color-gray-s), 77%);
  --color-gray-78: hsl(var(--hsl-base-color-gray-h), var(--hsl-base-color-gray-s), 78%);
  --color-gray-79: hsl(var(--hsl-base-color-gray-h), var(--hsl-base-color-gray-s), 79%);
  --color-gray-80: hsl(var(--hsl-base-color-gray-h), var(--hsl-base-color-gray-s), 80%);
  --color-gray-81: hsl(var(--hsl-base-color-gray-h), var(--hsl-base-color-gray-s), 81%);
  --color-gray-82: hsl(var(--hsl-base-color-gray-h), var(--hsl-base-color-gray-s), 82%);
  --color-gray-83: hsl(var(--hsl-base-color-gray-h), var(--hsl-base-color-gray-s), 83%);
  --color-gray-84: hsl(var(--hsl-base-color-gray-h), var(--hsl-base-color-gray-s), 84%);
  --color-gray-85: hsl(var(--hsl-base-color-gray-h), var(--hsl-base-color-gray-s), 85%);
  --color-gray-86: hsl(var(--hsl-base-color-gray-h), var(--hsl-base-color-gray-s), 86%);
  --color-gray-87: hsl(var(--hsl-base-color-gray-h), var(--hsl-base-color-gray-s), 87%);
  --color-gray-88: hsl(var(--hsl-base-color-gray-h), var(--hsl-base-color-gray-s), 88%);
  --color-gray-89: hsl(var(--hsl-base-color-gray-h), var(--hsl-base-color-gray-s), 89%);
  --color-gray-90: hsl(var(--hsl-base-color-gray-h), var(--hsl-base-color-gray-s), 90%);
  --color-gray-91: hsl(var(--hsl-base-color-gray-h), var(--hsl-base-color-gray-s), 91%);
  --color-gray-92: hsl(var(--hsl-base-color-gray-h), var(--hsl-base-color-gray-s), 92%);
  --color-gray-93: hsl(var(--hsl-base-color-gray-h), var(--hsl-base-color-gray-s), 93%);
  --color-gray-94: hsl(var(--hsl-base-color-gray-h), var(--hsl-base-color-gray-s), 94%);
  --color-gray-95: hsl(var(--hsl-base-color-gray-h), var(--hsl-base-color-gray-s), 95%);
  --color-gray-96: hsl(var(--hsl-base-color-gray-h), var(--hsl-base-color-gray-s), 96%);
  --color-gray-97: hsl(var(--hsl-base-color-gray-h), var(--hsl-base-color-gray-s), 97%);
  --color-gray-98: hsl(var(--hsl-base-color-gray-h), var(--hsl-base-color-gray-s), 98%);
  --color-gray-99: hsl(var(--hsl-base-color-gray-h), var(--hsl-base-color-gray-s), 99%);
  --color-gray: hsl(var(--hsl-base-color-gray-h), var(--hsl-base-color-gray-s), var(--hsl-base-color-gray-l));
  --color-text-primary-10: hsl(var(--hsl-base-color-text-primary-h), var(--hsl-base-color-text-primary-s), 10%);
  --color-text-primary-20: hsl(var(--hsl-base-color-text-primary-h), var(--hsl-base-color-text-primary-s), 20%);
  --color-text-primary-30: hsl(var(--hsl-base-color-text-primary-h), var(--hsl-base-color-text-primary-s), 30%);
  --color-text-primary: hsl(var(--hsl-base-color-text-primary-h), var(--hsl-base-color-text-primary-s), var(--hsl-base-color-text-primary-l));
  --color-brand-primary-10: hsl(var(--hsl-base-color-brand-primary-h), var(--hsl-base-color-brand-primary-s), 10%);
  --color-brand-primary-20: hsl(var(--hsl-base-color-brand-primary-h), var(--hsl-base-color-brand-primary-s), 20%);
  --color-brand-primary-30: hsl(var(--hsl-base-color-brand-primary-h), var(--hsl-base-color-brand-primary-s), 30%);
  --color-brand-primary: hsl(var(--hsl-base-color-brand-primary-h), var(--hsl-base-color-brand-primary-s), var(--hsl-base-color-brand-primary-l));
  --color-ui-error-10: hsl(var(--hsl-base-color-ui-error-h), var(--hsl-base-color-ui-error-s), 10%);
  --color-ui-error-20: hsl(var(--hsl-base-color-ui-error-h), var(--hsl-base-color-ui-error-s), 20%);
  --color-ui-error-30: hsl(var(--hsl-base-color-ui-error-h), var(--hsl-base-color-ui-error-s), 30%);
  --color-ui-error: hsl(var(--hsl-base-color-ui-error-h), var(--hsl-base-color-ui-error-s), var(--hsl-base-color-ui-error-l));
  --color-ui-accent-10: hsl(var(--hsl-base-color-ui-accent-h), var(--hsl-base-color-ui-accent-s), 10%);
  --color-ui-accent-20: hsl(var(--hsl-base-color-ui-accent-h), var(--hsl-base-color-ui-accent-s), 20%);
  --color-ui-accent-30: hsl(var(--hsl-base-color-ui-accent-h), var(--hsl-base-color-ui-accent-s), 30%);
  --color-ui-accent: hsl(var(--hsl-base-color-ui-accent-h), var(--hsl-base-color-ui-accent-s), var(--hsl-base-color-ui-accent-l));
  --color-ui-bg-10: hsl(var(--hsl-base-color-ui-bg-h), var(--hsl-base-color-ui-bg-s), 10%);
  --color-ui-bg-20: hsl(var(--hsl-base-color-ui-bg-h), var(--hsl-base-color-ui-bg-s), 20%);
  --color-ui-bg-30: hsl(var(--hsl-base-color-ui-bg-h), var(--hsl-base-color-ui-bg-s), 30%);
  --color-ui-bg: hsl(var(--hsl-base-color-ui-bg-h), var(--hsl-base-color-ui-bg-s), var(--hsl-base-color-ui-bg-l));
  --color-ui-success-10: hsl(var(--hsl-base-color-ui-success-h), var(--hsl-base-color-ui-success-s), 10%);
  --color-ui-success-20: hsl(var(--hsl-base-color-ui-success-h), var(--hsl-base-color-ui-success-s), 20%);
  --color-ui-success-30: hsl(var(--hsl-base-color-ui-success-h), var(--hsl-base-color-ui-success-s), 30%);
  --color-ui-success: hsl(var(--hsl-base-color-ui-success-h), var(--hsl-base-color-ui-success-s), var(--hsl-base-color-ui-success-l));
}
