html {
  background: var(--color-ui-bg);
  color: var(--color-text-primary);
  /* cursor: none; */
}

::selection {
  background: var(--color-text-primary);
  color: var(--color-ui-bg);
}

::-moz-selection {
  background: var(--color-text-primary);
  color: var(--color-ui-bg);
}
